# Copy this file to config.yml on your local system and set the values to your needs.
# You can always set all of the below variables in your local environment by doing
# set <VARIABLE>=<VALUE> (on Windows) or
# export <VARIABLE>=<VALUE> (on Unix)
# The environment variable will then be used instead of the values in here.

# local configuration
MEDIAWIKI_URL: "de.wikipedia.org"
MEDIAWIKI_MOBILE_URL: "de.m.wikipedia.org"

# local browser configuration
BROWSER: "firefox"

# saucelab configuration
#SAUCE_ONDEMAND_USERNAME: "SauceLabUser"
#SAUCE_ONDEMAND_ACCESS_KEY: "SauceLabKey"

# additional parameters https://saucelabs.com/platforms/webdriver
#BROWSER: "internet_explorer"
#VERSION: "11"
#PLATFORM: "Windows 8.1"